.footerContainer {
    border-top: 2px solid #ffb703;
    background-color: #e5e5e5;
    /* min-height: 100px; */
    padding: 0;
    justify-content: center;
    align-items: center;
}

#footerItems {
    display: flex;
    gap: 2rem;
}


.footerItems a {
    text-decoration: None;
    color: #14213d;
    font-size: 70px;
}